body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#list{
  width: 90%;
  margin:0 auto;
}
.title{
  text-align: center;
}
.clear{
  clear: both;
}
#lastest{
  text-align: center;
}
#lastest .item{
  float: none;
}
.item {
  width: 200px;
  float: left;
  padding: 10px;
  margin: 10px;
  background: #D8D5D2;
  font-weight: 300;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.item img{
  width: 100%;
}
.item:first-child{
  background: red;
  width: 500px;
}